$dark: #304C89 !important;
$dark-medium: #648DE5 !important;
$dark-low: #9EB7E5 !important;
$light: #E8E5DA !important;

$featured: #CDC392 !important;

:root {
  --dark: #{$dark};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light: #{$light};
  --featured: #{$featured};
}