@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
    font-family: 'Avenir', 'Poppings', sans-serif;
}

.btn-primary {
  background-color: $featured;
  border-color: $featured;
  &:hover {
    background-color: $featured;
  }
}

.btn-outline-primary {
  border-color: var(--featured) !important;
  color: var(--featured) !important;
  &:hover {
    color: var(--darker) !important;
    background-color: var(--featured) !important;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1300px !important;
  }
}

